# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
xcuserdata/
*.xcuserdatad/
xcshareddata/
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Development session logs (internal)
docs/logbook/S*.md
docs/logbook/B*.md
docs/logbook/A*.md
